* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100dvh;
    overflow: hidden;
}

#bird {
    width: fit-content;
    transition: all .5s ease;
}

button {
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    border: none;
    border-radius: 2rem;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: rgb(29, 197, 29);
    width: 300px;
    height: 250px;
    background: #2938be;
    display: none;
    border-radius: 2rem;
}
#menu h1 {
    margin-top: 70px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

/*======================== Pipe and pipe animation ==========================*/
.pipe {
    width: 50px;
    height: 200px;
    background: green;
    border: solid black;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.container::-webkit-scrollbar {
    display: none;
}

.group {
    height: 200px;
    display: flex;
    gap: 600px;
    justify-content: end;
    animation: spin 6s infinite linear; /*infinitely scrolling pipes; this also decides the pipe speeds*/
    padding-right: 600px;
}

/*animation for the pipes*/
@keyframes spin {
    from {translate: 0%;}
    to {translate: -100%;}
}