* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100dvh;
    overflow: hidden;
}

#bird {
    width: fit-content;
    transition: all .5s ease;
}

button {
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    border: none;
    border-radius: 2rem;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: rgb(29, 197, 29);
    width: 300px;
    height: 250px;
    background: #2938be;
    display: none;
    border-radius: 2rem;
}
#menu h1 {
    margin-top: 70px;
    font-family: "Bebas Neue", sans-serif;
}

#overlay {
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.pipe {
    position: absolute;
    top: 0;
    width: 50px;
    height: 200px;
    background-color: green;
    border: solid black;
    transition: all .5s ease;
}